
<sly
	data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	data-sly-call="${clientlib.all @ categories=['base1']}" />


<sly data-sly-use.var1="com.website.core.models.Publishedblogspost"></sly>

<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" >
<sly data-sly-call="${templates.placeholder @ isEmpty = var1.pagelist}"></sly>
 

<sly  data-sly-list="${var1.pagelist}">
<div class="row">
	<div class="card flex-md-row mb-4 shadow-sm h-md-1200">
		<div class="card-body d-flex flex-column align-items-start">



			<strong class="d-inline-block mb-2 text-primary">${item.typeofblog}</strong>
			<h3 class="mb-0">
				<a class="text-dark" href="${item.titlelink}.html">${item.title}</a>
			</h3>
			<div class="mb-1 text-muted">${item.date}</div>
			<p class="card-text mb-auto">${item.description}</p>
			<a href="${item.titlelink}.html">Continue reading</a>

		</div>
		<img class="card-img-right flex-auto d-none d-lg-block"
			data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
	</div>
</div>
</sly>

</sly>
